modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "static"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BMJfxm5igjPXPC4Ch1oHVvKK_a0nE6-NhRPSZv89RNNcO4v_gRhv8jCyWgFUrZAAKpsJ2K4xipm-glIsL2u2vgk"
VAPID_PRIVATE_KEY = "r2BBFtzZ1fWyeLT_0uwmlC_dyxXywE5s-2ti9DGfnUc"
VAPID_EMAIL = "mailto:bimi@app.local"
